/* Start Vars  */
:root
{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --background-color:#f6f6f6;
}
/* End Vars */
/* Start Global Rules  */
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{
    font-family:'Work Sans';
    
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media(min-width:768px)
{
.container
 {
    max-width: 750px;
 }
}
/* Medium */
@media(min-width:992px)
{
.container
   {
       max-width:970px;
   }
}
/* Large */
@media(min-width:1200px)
{
.container{
       max-width: 1170px;
    }
}
/* End Global Rules */
/* Start Components  */
.special-heading
{
    letter-spacing: -3px;
    font-size: 100px;
    margin: 0;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
}
.container .special-heading + p
{
    text-align: center;
    font-size:20px ;
    color: #797979;
    margin: -30px 0 0;
}
@media (max-width:767px)
{
    .special-heading
{
    letter-spacing: -3px;
    font-size: 60px;
    margin: 0;
    color: #ebeced;
    text-align: center;
    font-weight: 800;
}
.container .special-heading + p
{
    text-align: center;
    font-size:15px ;
    color: #797979;
    margin: -20px 0 0;
}
}
/* End Components  */
/* Start Header */
.header
{
    padding: 20px;
}
.header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo
{
    width: 60px;
}
.header .links
{
    position: relative;
}
.header .links .icon
{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span{
    background-color: #333;
    margin-bottom: 5px;
    height: 3px;
}
.header .links .icon span:first-child
{
 width: 100%;
}
.header .links .icon span:nth-child(2)
{
width: 60%;
transition: 0.3s;
}
.header .links .icon:hover span:n-child(2)
{
width: 100%;
}
.header .links .icon span:last-child
{
width: 100%;
}
.header .links ul
{
    content: "";
    background-color: #f6f6f6;
    min-width: 200px;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 2px;
    top: calc(100% + 20px);
   font-size: 22px;
   display: none;
}
.header .links:hover ul
{
    display: block;
    z-index: 2;
}
.header .links:hover .icon span:nth-child(2)
{
    width: 100%;
}
.header .links ul::before
{
    position: absolute;
    content: "";
    border-width: 20px;
    border-style:solid;
    right:0;
    top: -39px;
    border-color: transparent transparent #f6f6f6 transparent;
}
.header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.6s;
}
.header .links ul li a:hover{
   padding-left: 50px;
}.header .links ul li:not(:last-child) a:hover{
  border-bottom:1px solid #DDD;
 }
.landing
{
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    width: 340px;
    text-align: center;
}
.landing .intro-text h1{
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.landing .intro-text p{
   line-height: 1.8;
   font-size: 19px; 
}
/*Start Features*/
.features
{
padding-bottom: var(--section-padding);
padding-top: var(--section-padding);
background-color: var(--background-color);
}
.features .container
{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
grid-gap: 20px;
background-color: var(--background-color);
}
.features .container .feat
{
    text-align: center;
    padding: 20px;
    transition: 0.5s;
 
}
.features .container .feat i
{
    color:var(--main-color)
}
.features .container .feat h3{
    margin:30px 0;
    font-weight: 800;
    font-size: 30px;
}
.features .container .feat p{
    line-height: 1.6;
    color: #777;
    font-size: 17px;
}
.features .container .feat:hover
{
 
 border-width:0px 3px 0px 3px;
 margin: 0 -40px;
 z-index: 2;
 border-style: solid;
 border-color:#777;
 background-color: #e6e2e2;
 font-weight:900;
}
/*End Features*/
/* Start Services */
.services
{
    padding-bottom: var(--section-padding);
    padding-top: var(--section-padding);
}
.services .services-content
{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap: 30px;
}
.services .container .services-content .srv{
 display: flex;
 margin-bottom: 40px;
}
@media (max-width:767px)
{ 
.services .services-content .srv{
    text-align: center;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}
}
.services .container .services-content .srv i 
{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .container .services-content .srv h3{
    margin: 0 0 20px;
}
.services .container .services-content .srv .text{
    flex: 1; 
}
.services .container .services-content .srv .text p {
    font-weight: 300;
    line-height: 1.6;
    color: #444;
}
.services .container .services-content .image
{
    text-align: center;
    position: relative;
}
.services .container .services-content .image img{
    width: 260px;
}
.services .container .services-content .image::before
{
    content: "";
    position: absolute;
    right: -20px;
    top: -50px;
    width: 100px;
    z-index: -1;
    height: calc(100% + 100px);
    background-color: var(--secondary-color);
}
@media (max-width:1199px) {
.services .container .image-column
{
    display: none;
}
}
/* End Services */
/* Start Portfolio */
.portfolio
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}
.portfolio .portfolio-content 
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin: 80px;
}
.portfolio .portfolio-content .card
{
    background-color: white;
    transition: 0.4s;
}
.portfolio .portfolio-content .card img
{
    max-width: 100%;
}
.portfolio .portfolio-content .card .info
{
    padding: 20px;
}
.portfolio .portfolio-content .card .info p
{
    line-height: 1.6;
    color: #777;
    margin-bottom: 0;
}
.portfolio .portfolio-content .card:hover
{
    margin: -20px;
}
/* End Portfolio */
/* Start About */
.about
{
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding)+60px);
}
.about .about-container
{
    display: flex;
    margin: 100px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .about-container .image
{
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-container .image img{
    max-width: 100%;
}
.about .about-container .image::before
{
    font-size: 400px;
    color: #DDD;
    content: "L";
    font-family: fantasy;
    position: absolute;
    right: -100px;
    z-index: -1;
    top: -125px;
}
.about .about-container .image::after
{
    position: absolute;
    width: 100px;
    background-color: #DDD;
    content: "";
    height:calc(100% + 40px);
    left: -50px;
    z-index: -1;
    top: -20px;
}
.about .about-container .text 
{
    flex-basis: calc(100% - 500px);
}
.about .about-container .text p:first-of-type
{
    color: black;
    margin-bottom: 80px;
    line-height: 2;
    margin-bottom: 50px;
    font-weight: 800;

}
.about .about-container .text hr
{
 width: 50%;
 background-color: var(--main-color);
 height: 1px;
 display:inline-block;
}
.about .about-container .text:last-of-type
{
 line-height: 2;
 color: #777;
}
@media (max-width:991px) {
.about .about-container
{
    flex-direction: column;
    text-align: center;
}
.about .about-container .image
{
    margin: 0 auto 100px;

}
.about .about-container .image 
{
    padding: 20px;
    border: 1px solid var(--main-color);
}
.about .about-container .image::before,
.about .about-container .image::after
{
    display: none;
}
}
/* End About */
/* Start Contact  */
.contact 
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--background-color);
}
.contact .info
{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}
.contact .info .label
{
 font-size: 40px;
 font-weight: 800;
 color: var(--secondary-color);
 margin-bottom: 20px;
 letter-spacing: -2px;
}
.contact .info .link
{
    font-size: 40px;
    font-weight: 800;
    display: block;
    text-decoration: none;
    color: var(--main-color);
}
.contact .info .social
{
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.contact .info .social i
{
    margin-left: 15px;
    color: var(--secondary-color);
}
@media (max-width:767px) {
    .contact .info .label{
        font-size: 25px;
        font-weight: 800;
        color: var(--secondary-color);
        margin-bottom: 10px;
        letter-spacing: -2px;
    }
    .contact .info .link
{
    font-size: 25px;
    font-weight: 800;
    display: block;
    text-decoration: none;
    color: var(--main-color);
}
.contact .info .social
{
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.contact .info .social i
{
    margin-left: 10px;
    color: var(--secondary-color);
}
}
/* End Contact */
/* Start Footer */
.footer
{
    font-size: 18px;
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 30px 10px;

}
.footer span
{
    color: var(--main-color);
    font-weight: bold
}
/* End Footer */